// @import "../../../assets/fonts/Silka-Regular-&-Italic/Silka_Regular &_Italic_Webfont/Silka-Regular-&-Italic-Webfont/stylesheet.css"

$strong: text-balance-lilac;
$hover: text-balance-darkbg;
$faint: text-balance-lightprimary;

$light-bg: bg-balance-lightgrey;
$dark-bg: bg-balance-darkprimary;
$mega-menu-bg: bg-balance-darkbg;

$nav-bar-height: h-12;
$nav-bar-xpad: px-16;



#masthead {
  mask-repeat: no-repeat;
  mask-position: 10px -20px;
  mask-image: url('../../assets/images/fibonacci-mask-long.svg');
  z-index: 2;
  position: absolute;
}

.overlay {
  background-image: url('../../assets/images/wm1.png');
  background-repeat: no-repeat;
  background-position: 0 -6em;
  background-color: #000;
  height: 360px;
}

body {
  @apply  font-sans
          leading-normal
          tracking-normal
          bg-gray-100
          w-auto;
}

#container {
  @apply  flex
          bg-gray-100;
}

.main-content {
  @apply text-gray-600
          absolute;
          z-index: 1;
          top: 8em;
}

nav {
  @apply  #{$dark-bg}
          #{$nav-bar-height}
          w-full
          justify-end
          relative
          border-b-2
          border-gray-300
          text-gray-900;

  .sub-nav {
    @apply #{$nav-bar-xpad};

    .sub-nav-container {
      @apply container flex justify-between items-center w-full mr-2 #{$nav-bar-xpad};
      max-width: 100%;

      
    }
  }
  .sub-nav-title {
    @apply items-center;
  }

  li.hoverable {
    @apply  #{$dark-bg}
            hover:#{text-gray-100}
            px-2
            font-light
            border-2
            rounded-tr-lg
            rounded-tl-lg;
  }

  li.hoverable > a {
    @apply  text-sm
            font-bold
            hover:text-gray-50;
            line-height: 3em;
  }

  .hoverable:hover {
    @apply h-14 #{$mega-menu-bg};

    a {
      @apply text-balance;
    }
  } 

  li.hoverable > div.mega-menu {
    @apply  mr-2
            rounded-bl-lg rounded-br-lg;

      .inset, .mega-menu-container.container {
        display: none;
      }

      .inset {
        @apply  flex absolute pr-4;
                right: 0;
                background-image: linear-gradient(to right, rgb(97, 97, 97), rgb(241, 241, 241));
                margin-left: 30%;
      }

      .mega-menu-container.container {
        @apply  px-5 py-8 mt-4
                w-full
                flex
                justify-items-center
                rounded-xl
                bg-black
                bg-opacity-80
                border-2
                border-gray-300;

                .hero-message {
                  @apply w-full text-white px-4 mb-8;

                  h2 {
                    @apply font-bold text-2xl;
                  }
                }
      }
  }
}

.habit-view {
  ul {
    li {
      @apply text-xl text-gray-200;
    }
  }
}
            <div>
              <div class="py-8 px-4 lg:w-1/3">
                <div class="h-12 flex items-start">
                  <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
                    <span class="text-gray-500 pb-2 mb-2 border-b-2 border-gray-200">Jul</span>
                    <span class="font-medium text-lg text-gray-800 title-font leading-none">18</span>
                  </div>
                  <div class="flex-grow pl-6">
                    <h2 class="tracking-widest text-xs title-font font-medium text-yellow-500 mb-1">CATEGORY</h2>
                    <h1 class="title-font text-xl font-medium text-gray-900 mb-3">The 400 Blows</h1>
                    <p class="leading-relaxed mb-5">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
                    <a class="inline-flex items-center">
                      <img alt="blog" src="https://dummyimage.com/103x103" class="w-8 h-8 rounded-full flex-shrink-0 object-cover object-center" />
                      <span class="flex-grow flex flex-col pl-3">
                        <span class="title-font font-medium text-gray-900">Alper Kamu</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            
            </div>