// @import "../../../assets/fonts/Silka-Regular-&-Italic/Silka_Regular &_Italic_Webfont/Silka-Regular-&-Italic-Webfont/stylesheet.css"

html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

$strong: text-balance-lilac;
$hover: text-balance-darkbg;
$faint: text-balance-lightprimary;

$light-bg: bg-balance-lightgrey;
$dark-bg: bg-balance-darkprimary;
$mega-menu-bg: bg-balance-darkbg;

$nav-bar-height: h-12;
$nav-bar-xpad: px-16;



#masthead {
  mask-repeat: no-repeat;
  mask-position: 10px -20px;
  mask-image: url('../../assets/images/fibonacci-mask-long.svg');
  z-index: 2;
  position: absolute;
}

.overlay {
  background-image: url('../../assets/images/wm1.png');
  background-repeat: no-repeat;
  background-position: 0 -6em;
  background-color: #000;
  height: 360px;
}

body {
  @apply  font-sans
          leading-normal
          tracking-normal
          bg-gray-100
          w-auto;
}

#container {
  @apply  flex
          bg-gray-100;
}

.card-content {
  @apply text-gray-600
          absolute;
          z-index: 1;
          top: 6em;
}

nav.sub-nav {
  @apply  #{$dark-bg}
          #{$nav-bar-height}
          #{$nav-bar-xpad}
          w-full
          justify-end
          relative
          border-b-2
          border-gray-300
          text-gray-900;

  .sub-nav-title,
  .sub-nav-links,
  .sub-nav-links > li > a {
    @apply  flex
            #{$nav-bar-height};
  }

  > .sub-nav-container {
    @apply  container
            flex
            justify-between
            items-center
            w-full
            mr-2;
            max-width: 100%;

    > .sub-nav-title {
      @apply items-center;
    }

  }
  

  li.hoverable {
    @apply  #{$dark-bg}
            hover:#{text-gray-100}
            px-2
            font-light
            border-2
            rounded-tr-lg
            rounded-tl-lg;
    > a {
        @apply  text-sm
                font-bold
                hover:text-gray-50;
                line-height: 3em;
    }
       
    > div.mega-menu {
      @apply mr-2 rounded-bl-lg rounded-br-lg;

      .inset,
      .mega-menu-container.container {
        display: none;
      }

      .inset {
        @apply flex absolute pr-4;
        right: 0;
        background-image: linear-gradient(to right, rgb(97, 97, 97), rgb(241, 241, 241));
        margin-left: 30%;
      }

      .mega-menu-container.container {
        @apply px-5 py-8 mt-4 w-full flex justify-items-center rounded-xl bg-black bg-opacity-80 border-2 border-gray-300;

        .hero-message {
          @apply w-full text-white px-4 mb-8;

          h2 {
            @apply font-bold text-2xl;
          }
        }
      }
    }

  }

  li.hoverable:hover {
    @apply h-14 #{$mega-menu-bg};

    a {
      @apply text-balance #{$nav-bar-height};
    }
  }
}

.habit-view {
  ul {
    li {
      @apply text-xl text-gray-200;
    }
  }
}