$strong: text-pastel;
$faint: text-pastel-light;
$light-bg: bg-gray-100;
$dark-bg: bg-gray-200;
$mega-menu-bg: bg-pastel-light-fawn;

body {
  @apply  font-sans
          leading-normal
          tracking-normal
          bg-gray-100
          w-auto;
}

#container {
  @apply  flex
          mx-auto
          w-11/12
          bg-gray-100;
}

nav {
  @apply  #{$dark-bg}
          border-b-2
          border-gray-300
          text-gray-900;

  .sub-nav-title {
    @apply  block p-4
            lg:p-6;
  }

  .hero-message {
    @apply  w-full 
          text-white
            mb-8;

    h2 {
      @apply  font-bold
              text-2xl;
    }
  }

  li.hoverable {
    @apply  #{$dark-bg}
            hover:#{$mega-menu-bg}
            font-light;
  }

  li.hoverable > a {
    @apply  py-6 px-4
            lg:p-6
            text-sm
            lg:text-base
            font-bold
            hover:text-pastel-dark-success;
  }

  .hoverable:hover > a {
    @apply text-pastel;
  }

  li.hoverable > div.mega-menu {
    @apply  p-2
            mr-2
            sm:mb-0
            shadow-xl
            rounded-bl-lg rounded-br-lg 
            #{$mega-menu-bg};
            width: 100%;

      .inset {
        @apply flex justify-items-center items-center
      }

      .sub-menu.container {
        @apply  px-5 py-8 mt-4
                w-full
                flex
                flex-wrap
                justify-items-center
                rounded-xl
                border-2
                bg-pastel-light
                border-gray-300;

                .hero-message {
                  @apply px-4
                }
      }
    }
  }

nav > .container:first-child {
  @apply text-xl #{$strong};
}

.habit-view {
  ul {


    li {
      @apply text-xl text-gray-200;
    }
  }
}