// @import "../../../assets/fonts/Silka-Regular-&-Italic/Silka_Regular &_Italic_Webfont/Silka-Regular-&-Italic-Webfont/stylesheet.css"

$strong: text-balance-lilac;
$hover: text-balance-darkbg;
$faint: text-balance-lightprimary;

$light-bg: bg-balance-lightgrey;
$dark-bg: bg-balance-darkprimary;
$mega-menu-bg: text-black;

#masthead {
  mask-repeat: no-repeat;
  mask-position: 10px -20px;
  mask-image: url('../../assets/images/fibonacci-mask-long.svg');
  z-index: 2;
  position: absolute;
}

.overlay {
  background-image: url('../../assets/images/wm1.png');
  background-repeat: no-repeat;
  background-position: 0 -4em;
  background-color: #000;
  height: 360px;
}

body {
  @apply  font-sans
          leading-normal
          tracking-normal
          bg-gray-100
          w-auto;
}

#container {
  @apply  flex
          bg-gray-100;
}

.main-content {
  @apply text-gray-600
          absolute;
          z-index: 1;
          top: 8em;
}

nav {
  @apply  #{$dark-bg}
          h-12
          w-full
          justify-end
          relative
          border-b-2
          border-gray-300
          text-gray-900;

  .sub-nav-title,
  .sub-nav-links,
  .sub-nav-links > li > a {
    @apply  flex
            h-12;
  }
          
  .sub-nav-container {
    @apply  container
            flex
            justify-between
            items-center
            w-full
            mr-2
            px-16;
            max-width: 100%;
  }
  
  .sub-nav {
    @apply px-16;
  }
  .sub-nav-title {
    @apply items-center;
  }

  .hero-message {
    @apply  w-full 
          text-white
            mb-8;

    h2 {
      @apply  font-bold
              text-2xl;
    }
  }

  li.hoverable {
    @apply  #{$dark-bg}
            hover:#{text-gray-100}
            px-2
            font-light
            border-2
            rounded-tr-lg
            rounded-tl-lg;
  }

  li.hoverable > a {
    @apply  text-sm
            font-bold
            hover:text-red-50;
            line-height: 3em;
  }

  .hoverable:hover > a {
    @apply text-balance;
  }

  li.hoverable > div.mega-menu {
    @apply  mr-2
            rounded-bl-lg rounded-br-lg 
            #{$mega-menu-bg};

      .inset, .mega-menu-container.container {
        display: none;
      }

      .inset {
        @apply  flex absolute pr-4;
                right: 0;
                background-image: linear-gradient(to right, rgb(97, 97, 97), rgb(241, 241, 241));
                margin-left: 30%;
      }

      .mega-menu-container.container {
        @apply  px-5 py-8 mt-4
                w-full
                flex
                flex-wrap
                justify-items-center
                rounded-xl
                border-2
                bg-black
                bg-opacity-80
                border-gray-300;

                .hero-message {
                  @apply px-4
                }
      }
  }
}


nav > .container:first-child {
  @apply text-xl #{bg-balance-lilac};
}

.habit-view {
  ul {


    li {
      @apply text-xl text-gray-200;
    }
  }
}